<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iaa_project">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IAA_PROJECT"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".GuardadoSesionActivity"
            android:exported="false"
            android:label="@string/title_activity_guardado_sesion" />
        <activity
            android:name=".ResumenMedicionesActivity"
            android:exported="false"
            android:label="@string/title_activity_resumen_mediciones" />
        <activity
            android:name=".ComienzoMedicionesActivity"
            android:exported="false"
            android:label="@string/title_activity_comienzo_mediciones"/>
        <activity
            android:name=".ConectaDispositivosActivity"
            android:exported="false" />
        <activity
            android:name=".BuscaDispositivosActivity"
            android:exported="false"
            android:label="@string/title_activity_busca_dispositivos"/>
        <activity
            android:name=".DatosOrganizacionActivity"
            android:exported="false"
            android:label="@string/title_activity_datos_organizacion"/>
        <activity
            android:name=".DatosSesionActivity"
            android:exported="false"
            android:label="@string/title_activity_datos_sesion"/>
        <activity
            android:name=".CambioPwActivity"
            android:exported="false"
            android:label="@string/title_activity_cambio_pw"/>
        <activity
            android:name=".PerfilUsuarioActivity"
            android:exported="false"
            android:label="@string/title_activity_perfil_usuario"/>
        <activity
            android:name=".AcercaDeActivity"
            android:exported="false"
            android:label="@string/title_activity_acerca_de"/>
        <activity
            android:name=".VisualiMedActivity"
            android:exported="false"
            android:label="@string/title_activity_visuali_med"/>
        <activity
            android:name=".MiPerfilActivity"
            android:exported="false"
            android:label="@string/title_activity_mi_perfil" />
        <activity
            android:name=".GestionDispActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarUsuarioActivity"
            android:exported="false"
            android:label="@string/title_activity_registrar_usuario"/>
        <activity
            android:name=".BuscarUsuarioActivity"
            android:exported="false"
            android:label="@string/title_activity_buscar_usuario"/>
        <activity
            android:name=".PrincipalActivity"
            android:exported="false"
            android:label="@string/title_activity_principal"/>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:noHistory="true"
            android:label="@string/title_activity_login"/>
        <activity
            android:name=".ActivityRegistroInvest"
            android:exported="false"
            android:label="@string/title_activity_registro_invest"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BuscaDispositivosActivity"
            android:foregroundServiceType="location" />
    </application>

</manifest>